@model Website.Areas.GroupAdmin.Models.SchoolAdminData.SchoolAdminCreate
@{
    ViewBag.Title = "Add School Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Add School Admin</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-verticle">
                <div class="container-fluid clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-sm-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid clearfix pad-1">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <a class="btn btn-default" href="@Url.Action("Index", "User", new { Area = "Administration" })">Cancel</a>
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


